@page
@model WoWToDo.Pages.BookList.CreateModel

<br />
<h2 class="text-info">Create New Tasks</h2>
<br />

<div class="border container" style="padding:30px;">
	<form method="post">
		<div class="form-group row">
			<div class="col-4">
				<label asp-for="Tasks.Name"></label>
			</div>
			<div class="col-6">
				<input asp-for="Tasks.Name" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<div class="col-4">
				<label asp-for="Tasks.Location"></label>
			</div>
			<div class="col-6">
				<input asp-for="Tasks.Location" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<div class="col-4">
				<label asp-for="Tasks.Time"></label>
			</div>
			<div class="col-6">
				<input asp-for="Tasks.Time" class="form-control" />
			</div>
		</div>
		<div class="form-group row">
			<div class="col-3 offset-4">
				<input type="submit" value="Create" class="btn btn-primary form-control" />
			</div>
			<div class="col-3">
				<a asp-page="Index" class="btn btn-success form-control">Back to List</a>
			</div>
		</div>
	</form>
</div>

